# Visualização de dados - Oficina Aula 1.1

O consumo excessivo de álcool é um problema grave de saúde pública, você não acha? Imagine que você é um cientista de dados trabalhando em uma equipe da Organização Mundial da Saúde (OMS), cujo objetivo é desenvolver relatórios sobre o consumo de álcool no mundo. Tudo certo até aqui? Então, vamos continuar!

Foram coletados dados de diferentes países, indicando o consumo de cerveja (beer), licor (spirit) e vinho (wine), e o consumo de litros de álcool por pessoa do país no ano de 2010. Seu trabalho, então, é responder a algumas perguntas sobre os dados que irão ajudar a compor o relatório. Vamos lá?

Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?
Qual o consumo de licor na França?
Quais os 5 países nos quais se consome mais vinho?
Quais os países nos quais o consumo de cerveja está acima da média?
Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?
Para responder a essas questões, você deve usar os dados disponibilizados nesta página:

dados.

Baixe o conjunto de dados, selecionando o link e clicando com o botão direito do mouse ou usando a tecla Aplicação. Então, escolha a opção “Salvar como…”, e salve o arquivo com o nome drinks.txt. Na mesma pasta em que você salvou os dados, crie um Jupyter Notebook, importe a biblioteca pandas e carregue os dados com os comandos:

Para responder a essas questões, você deve usar os dados disponibilizados nesta página: dados. Baixe o conjunto de dados, selecionando o link e clicando com o botão direito do mouse ou usando a tecla Aplicação. Então, escolha a opção “Salvar como…”, e salve o arquivo com o nome drinks.txt. Na mesma pasta em que você salvou os dados, crie um Jupyter Notebook, importe a biblioteca pandas e carregue os dados com os comandos:

``
01 import pandas as pd
02 df = pd.read_csv('drinks.txt')
``

A partir daí, você deverá responder a cada pergunta em uma célula diferente. Note que existem várias formas diferentes de chegar ao resultado da resposta. Além disso, você pode fazer comentários sobre conclusões a respeito dos dados para enriquecer as suas respostas.

In [5]:
import pandas as pd
df = pd.read_csv('drinks.txt')

In [8]:
#Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool? 

print("média é:")
df.mean()

média é:

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [9]:
print("desvio padrão é:")
df.std()

desvio padrão é:

beer_servings                   101.143103
spirit_servings                  88.284312
wine_servings                    79.697598
total_litres_of_pure_alcohol      3.773298
dtype: float64

In [10]:
# Qual o consumo de licor na França?

df[df['country'] == 'France']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
61,France,127,151,370,11.8

In [11]:
# Quais os 5 países nos quais se consome mais vinho?

df.sort_values(by='wine_servings', ascending = False).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
61,France,127,151,370,11.8
136,Portugal,194,67,339,11.0
3,Andorra,245,138,312,12.4
166,Switzerland,185,100,280,10.2
48,Denmark,224,81,278,10.4

In [14]:
# Quais os países nos quais o consumo de cerveja está acima da média?

df[df['beer_servings'] > 106.160622]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
6,Argentina,193,25,221,8.3
8,Australia,261,72,212,10.4
9,Austria,279,75,191,9.7
...,...,...,...,...,...
182,United Kingdom,219,126,195,10.4
184,USA,249,158,84,8.7
185,Uruguay,115,35,220,6.6
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0

In [33]:
# Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?

df[df['total_litres_of_pure_alcohol'] > 7.2].head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
3,Andorra,245,138,312,12.4
6,Argentina,193,25,221,8.3
8,Australia,261,72,212,10.4
9,Austria,279,75,191,9.7
15,Belarus,142,373,42,14.4

Desenvolvido por **Pâmella Araújo Balcaçar**, Rondonópolis-MT, 18/01/2021.